<%= form_with(model: announcement) do |f| %>
    <% if announcement.errors.any?%>
        <div style="color: red">
            <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>
            <ul>
                <% announcement.errors.each do |message| %>
                    <li><%= message.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :content, style:"display: block" %>
        <%= f.text_area :content %>
    </div>
    <div class="field">
        <%= f.label :expire, style:"display: block" %>
        <%= f.datetime_local_field :expire%>
    </div>


    <div class="field">
        <%= f.submit class:"btn btn-primary" %>
    </div>
<% end %>